*{
    margin: 0;
    box-sizing: border-box;
}

body{
    margin: 0;
}

.home-container{
    height: 100vh;
    background-image: url(images/background-home-desktop.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 30px;
    padding-bottom: 50px;
}
.nav-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 70px;
}
.logo{
    margin-right: auto;
    width: 50px;
}
.logo-container{
    padding: 10px;
    padding-left: 50px !important;
    width: 45%;
    display: flex;
    flex-direction: row;
    align-items: center;
    
}
.menu-line{
    width: 90%;
    height: 1%;
    margin-right: -40px;
    z-index: 12;
    background-color: white;
}
.menu-container{
    background-color: #54617586;
    height: 70px;
    padding: 10px;
    width: 55%;
    display: flex;
    padding-left: 50px;
}
.menu-container ul{
    margin: o;
    display: flex;
    flex-direction: row;
    color: white;
    align-items: center;
    list-style: none;
}
.menu-container ul li{
    padding-right: 35px;
    display: flex;
    align-items: center;
    height: 70px;
    padding: 10px;
    margin-right: 15px;
    word-spacing: 5px;
}

.menu-container a{
    text-decoration: none;
    color: inherit;
}

.menu-container ul li:active{
    border-bottom: 1px solid white;
}
.home-content-container{
    background-color: red;
    margin-top: 80px;
    margin-bottom: 80px;
    height: 400px;
    display: flex;
}

.text-content{

    margin: 0;
    width: 65%;
    padding-left: 120px;
    padding-top: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
}
.text-content h4{
    font-size: 20px;
    line-height: 40px;
}
.text-content p{
    width: 50%;
    line-height: 25px;
}

.text-content h1{
    font-size: 80px;
    padding-top: 0px;
    padding-bottom: 30px;
}
.explore-content{
    margin: 0;
    padding: 70px;
    width: 35%;
    padding-top: 190px;
}
.explore-content h1{
    background: white;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;  
    font-size: 25px;
    font-weight: 500;  
}
.destination-content{
    display: flex;
}
.destination-content-div{
    color: white;
    width: 40%;
}
.destination-image{
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center
}
.destination-image h2{
    margin-top: 30px;
    margin-bottom: 30px;
}
.destination-image img{
    width: 40%;
}
.destination-bottom-destination{
    display: flex;
    margin-top: 15px;
    justify-content: space-between;
}
.tab{
    background-color: transparent;
    padding: 10px;
    overflow: hidden;
}
.tablinks{
    color: rgb(177, 177, 177);
    text-transform: uppercase;
    background-color: inherit;
    border: none;
    float: left;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
}

.tablinks:hover{
    background-color: red;
    color: white;
}
.tablinks:active{
    border-bottom: 2px solid white;
}

.tabcontent{
    padding: 20px;
    background-color: green;
}
.tabcontent h1{
    margin-bottom: 20px;
    margin-top: 10px;
    font-size: 50px;
}
.tabcontent p{
    width: 70%;
}
.tabcontent hr{
    margin-top: 30px;
}
.mobile-menu{
    display: none;
}
.tablet-menu-container{
    display: none;
}

@media (max-width: 375px){
    .menu-container{
        display: none;
    }
    .menu-line{
        display: none;
    }
    .home-container{
        height: 600px;
        background-image: url(images/background-home-mobile.jpg);
        padding-top: 0;
        padding-left: 0;
    }
    .home-content-container{
        display: flex;
        flex-direction: column;
        height: 520;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    *{
        margin: 0 !important;
    }
    
    .text-content{
        padding: 20;
        padding-top: 50px;
        width: auto;
    }
    .text-content h4{
        font-size: 15px;
        line-height: 20px;
    }
    .text-content p{
        width: 100%;
        line-height: 20px;
    }
    
    .text-content h1{
        font-size: 50px;
        padding-top: 15px;
        padding-bottom:15px;
    }
    .explore-content{
        display: flex;
        margin: 0;
        padding: 0px;
        width: 100%;
        padding-top: px;
        height: 278px;
        align-items: center;
        justify-content: center;
    }
    .explore-content h1{
        background: white;
        width: 200px;
        height: 200px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        text-align: center;
        justify-content: center;  
        font-size: 25px;
        font-weight: 500;  
    }
    .logo{
        margin-right: auto;
        margin-top: 10px !important;
        margin-left: -20px !important;
        width: 45px;
    }
    .logo-container{
        width: 60%;
        display: flex;
        flex-direction: row;
        align-items: center;
        
    }
    .mobile-menu{
        display: block;
        display: flex;
        align-items: center;
        justify-content: right;
        padding-right: 20px;
        width: 40%;
        cursor: pointer;
    }
}


@media (min-width: 376px) and (max-width: 767px){
    .menu-container{
        display: none;
    }
    .menu-line{
        display: none;
    }
    .home-container{
        height: 600px;
        background-image: url(images/background-home-mobile.jpg);
        padding-top: 0;
        padding-left: 0;
    }
    .home-content-container{
        display: flex;
        flex-direction: column;
        height: 520;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    *{
        margin: 0 !important;
    }
    
    .text-content{
        padding: 20;
        padding-top: 50px;
        width: auto;
    }
    .text-content h4{
        font-size: 15px;
        line-height: 20px;
    }
    .text-content p{
        width: 100%;
        line-height: 20px;
    }
    
    .text-content h1{
        font-size: 50px;
        padding-top: 15px;
        padding-bottom:15px;
    }
    .explore-content{
        display: flex;
        margin: 0;
        padding: 0px;
        width: 100%;
        padding-top: px;
        height: 278px;
        align-items: center;
        justify-content: center;
    }
    .explore-content h1{
        background: white;
        width: 200px;
        height: 200px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        text-align: center;
        justify-content: center;  
        font-size: 25px;
        font-weight: 500;  
    }
    .logo{
        margin-right: auto;
        margin-top: 10px !important;
        margin-left: -20px !important;
        width: 45px;
    }
    .logo-container{
        width: 60%;
        display: flex;
        flex-direction: row;
        align-items: center;
        
    }
    .mobile-menu{
        display: block;
        display: flex;
        align-items: center;
        justify-content: right;
        padding-right: 20px;
        width: 40%;
        cursor: pointer;
    }
}

@media (min-width: 768px) and (max-width: 1024px){
    .menu-container{
        display: none;
    }
    .tablet-menu-container{
        background-color: #54617586;
        height: 70px;
        padding: 30px !important;
        width: 65%;
        display: flex;
        padding-left: 0px !important;
    }
    .tablet-menu-container ul{
        margin: o;
        display: flex;
        flex-direction: row;
        color: white;
        align-items: center;
        list-style: none;
    }
    .tablet-menu-container ul li{
        padding-right: 30px;
        display: flex;
        align-items: center;
        height: 70px;
        padding: 10px;
        margin-right: 15px;
        word-spacing: 5px;
    }
    .tablet-menu-container a{
        text-decoration: none;
        color: inherit;
    }
    .menu-line{
        display: none;
    }
    .home-container{
        height: 800px;
        background-image: url(images/background-home-tablet.jpg);
        background-position-y: center;
        padding-top: 0;
        padding-left: 0;
    }
    .home-content-container{
        display: flex;
        padding-top: 60px;
        flex-direction: column;
        height: 720;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    *{
        margin: 0 !important;
    }
    
    .text-content{
        padding: 20;
        padding-top: px;
        width: auto;
    }
    .text-content h4{
        font-size: 16px;
        line-height: 10px;
    }
    .text-content p{
        display: flex;
        align-items: center;
        justify-items: center;
        text-align: center;
        width: 100%;
        padding-left: 150px;
        padding-right: 150px;
        line-height: 30px;
    }
    
    .text-content h1{
        font-size: 100px;
        font-family: philosopher;
        padding-top: 10px;
        padding-bottom:15px;
    }
    .explore-content{
        display: flex;
        margin: 0;
        padding: 0px;
        width: 100%;
        padding-top: 100px;
        height: 400px;
        align-items: center;
        justify-content: center;
    }
    .explore-content h1{
        background: white;
        width: 250px;
        height: 250px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        text-align: center;
        justify-content: center;  
        font-size: 25px;
        font-weight: 500;  
    }
    .logo{
        margin-right: auto;
        margin-top: 10px !important;
        margin-left: -20px !important;
        width: 45px;
    }
    .logo-container{
        width: 35%;
        display: flex;
        flex-direction: row;
        align-items: center;
        
    }
    .mobile-menu{
        display: none;
      
    }
}